---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Autor"
  description="Conoce más sobre el creador detrás del proyecto."
>
  <p>
    Aquí podrás conocer mi trayectoria, ideas y visión detrás del contenido publicado
    en este sitio.
  </p>
</PageLayout>