---
import BaseLayout from "../layouts/BaseLayout.astro";
import SearchBox from "../components/SearchBox.astro";
---

<BaseLayout title="Buscar" description="Buscar artículos">

<section class="container py-16 max-w-2xl">

<h1 class="text-3xl font-bold mb-6">
Buscar artículos
</h1>

<SearchBox />

</section>

</BaseLayout>