---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Contacto"
  description="Puedes escribirme directamente."
>
  <p>
    Si deseas colaborar, hacer una consulta o proponer una idea,
    puedes contactarme pronto mediante un formulario que estará disponible aquí.
  </p>
</PageLayout>