---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Finanzas"
  description="Artículos sobre educación financiera, inversión y crecimiento económico personal."
>
  <p>
    Aquí encontrarás contenido enfocado en ayudarte a mejorar tu relación con el dinero,
    desarrollar inteligencia financiera y tomar decisiones estratégicas.
  </p>
</PageLayout>