---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Podcast"
  description="Reflexiones profundas sobre finanzas, sociedad y pensamiento."
>
  <p>
    Bienvenido a la sección de podcast. Aquí encontrarás episodios donde analizo
    ideas, conceptos y perspectivas para desarrollar pensamiento crítico.
  </p>
</BaseLayout>